.mycommitmsg.txt
cfs-kalah-public/.DS_Store
**/.DS_Store
.DS_Store
advent_of_code_2025/go/advent_of_code_2025/cfsutils/testdata/temp/helpers/1765137036048/TestRenameFileToBackupFile_1001.20251207_195036.json
advent_of_code_2025/go/advent_of_code_2025/cfsutils/testdata/temp/helpers/1765137036048/TestRenameFileToBackupFile_1001.json
advent_of_code_2025/go/advent_of_code_2025/cfsutils/testdata/temp/helpers/1765137036048/TestRenameFileToBackupFile_1002
advent_of_code_2025/go/advent_of_code_2025/cfsutils/testdata/temp/helpers/1765137036048/TestRenameFileToBackupFile_1002.20251207_195036
advent_of_code_2025/go/advent_of_code_2025/cfsutils/testdata/temp/helpers/1765137039809/TestRenameFileToBackupFile_1001.20251207_195039.json
advent_of_code_2025/go/advent_of_code_2025/cfsutils/testdata/temp/helpers/1765137039809/TestRenameFileToBackupFile_1001.json
advent_of_code_2025/go/advent_of_code_2025/cfsutils/testdata/temp/helpers/1765137039809/TestRenameFileToBackupFile_1002
advent_of_code_2025/go/advent_of_code_2025/cfsutils/testdata/temp/helpers/1765137039809/TestRenameFileToBackupFile_1002.20251207_195039
advent_of_code_2025/go/advent_of_code_2025/cfsutils/testdata/temp/helpers/1765137047445/TestRenameFileToBackupFile_1001.20251207_195047.json
advent_of_code_2025/go/advent_of_code_2025/cfsutils/testdata/temp/helpers/1765137047445/TestRenameFileToBackupFile_1001.json
advent_of_code_2025/go/advent_of_code_2025/cfsutils/testdata/temp/helpers/1765137047445/TestRenameFileToBackupFile_1002
advent_of_code_2025/go/advent_of_code_2025/cfsutils/testdata/temp/helpers/1765137047445/TestRenameFileToBackupFile_1002.20251207_195047
advent_of_code_2025/go/advent_of_code_2025/cfsutils/testdata/temp/helpers/1765137050254/TestRenameFileToBackupFile_1001.20251207_195050.json
advent_of_code_2025/go/advent_of_code_2025/cfsutils/testdata/temp/helpers/1765137050254/TestRenameFileToBackupFile_1001.json
advent_of_code_2025/go/advent_of_code_2025/cfsutils/testdata/temp/helpers/1765137050254/TestRenameFileToBackupFile_1002
advent_of_code_2025/go/advent_of_code_2025/cfsutils/testdata/temp/helpers/1765137050254/TestRenameFileToBackupFile_1002.20251207_195050
advent_of_code_2025/java/adventofcode2025/.idea/.gitignore
advent_of_code_2025/java/adventofcode2025/.idea/compiler.xml
advent_of_code_2025/java/adventofcode2025/.idea/jarRepositories.xml
advent_of_code_2025/java/adventofcode2025/.idea/misc.xml
advent_of_code_2025/java/adventofcode2025/.idea/vcs.xml
advent_of_code_2025/java/adventofcode2025/.idea/dictionaries/connor.xml
advent_of_code_2025/java/adventofcode2025/.idea/inspectionProfiles/Project_Default.xml
advent_of_code_2025/java/adventofcode2025/target/classes/application.yaml
advent_of_code_2025/java/adventofcode2025/target/classes/cfs/adventofcode2025/day07/Main.class
advent_of_code_2025/java/adventofcode2025/target/classes/cfs/adventofcode2025/day07/Main$Cache.class
advent_of_code_2025/java/adventofcode2025/target/classes/cfs/adventofcode2025/day07/Main$CacheEntry.class
advent_of_code_2025/java/adventofcode2025/target/classes/cfs/adventofcode2025/day07/Main$Helper.class
advent_of_code_2025/java/adventofcode2025/target/classes/cfs/adventofcode2025/day07/Main$Line.class
advent_of_code_2025/java/adventofcode2025/target/classes/com/example/demo/DemoApplication.class
advent_of_code_2025/java/adventofcode2025/target/classes/com/example/demo/MyUnit.class
advent_of_code_2025/java/adventofcode2025/target/test-classes/cfs/adventofcode2025/day07/MainTest.class
advent_of_code_2025/java/adventofcode2025/target/test-classes/com/example/demo/DemoApplicationTests.class
advent_of_code_2025/java/adventofcode2025/target/test-classes/com/example/demo/MyUnitTest.class
.DS_Store
